/* structure */
#main-header {
    background-color: aqua;
}

#main-content {
    background-color: peru;
    padding: 10px;
}

#main-footer{
    background-color: peru;
    padding: 10px;
}
.column{
    padding:5px;
    margin:5px;
    border-radius:3px;
}
.col1{
    background-color: teal;

}
.col1of3, .col2of3{
    background-color: azure;

}

.col1of4, .col2of4{
    background-color: bisque;

}


/* Navigation */
#main-nav ul{
    padding-left: 0;
}
#main-nav li{
    list-style-type: none;
    padding: 5px;
    background-color: chartreuse;
    border-bottom: 1px solid grey;
}

#main-nav a{
    text-decoration:none;
}

/*typography*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1{
    text-align: center;
}

#main-content h2{
    color:violet;
}
#main-footer{
    text-align: center;
}

/* Larger resolutions */
@media(min-width: 900px) {
    #main-nav ul, 
    .flex-container{
        display:flex;
    }

    #main-nav li, 
    .col1, .col1of3, .col1of4{
        flex: 1;
    }
    .col2of3, .col2of4{
        flex:2;
    }


}