:root{
    --header-footer-color:#6b6b6b;
    --background-color:#CCCCCC;
    --main-nav-color:##6b6b6b;
    --section-color-1:#959595;
    --section-color-2:#666666;
    --table-color-1:#7a7a7a;
    --table-color-2:#cccccc;
    --main-font:Arial, Helvetica, sans-serif;
    --width:80%;
    --text-color:black;
    --hover-color:#CCCCCC;
}

body{
    font-family: var(--main-font);
    margin:0;
    background-color: var(--background-color);
}

/*************************************** Header ************************/
.header, .footer{
    background-color: var(--header-footer-color);
}

.header img{
    max-width: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right:2%;


}
.header-title h1{

    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}


/**************************** Main ***********************/

/****  Index ******************/
.slideshow{
    width:100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.slideshow img{
    display: block;
    text-align:center;

   width: 100%
}
#main-section, #records {
    width:var(--width);
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.index-main, .past-events{
    padding:5px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--section-color-1);
    border-radius:5px;
}

.index-main-img{
    padding:5px;
    text-align:center;
    margin-top:20px;
}
.index-main h3{
    margin: 5px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px var(--section-color-2);
    font-size: 20px;
}
/******************************************* Schedule Page **********************************/
.table-sched img{
    margin:5px;
}
.table-sched td{
    padding:5px;
}
.weekly-sched{
    margin: 15px 0 15px;
}


/*********************************** Past Events *************************/
.past-events h3{
    margin: 5px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px var(--section-color-2);
    font-size: 20px;
    text-align:center;
}



/*********************** CLub records Page *****************************/
#records h2{
    text-align:center;
    font-size: 24px;
    margin-bottom:5px;
}
.table, .table-sched{
   
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-collapse: collapse;
    width:var(--width);
    margin: auto;
    padding: 6px;

}

.table th, .table td, .table-sched th, .table-sched td {
    border: 1px solid var(--text-color);
    text-align: center;
}

.table tr:nth-child(odd), .table-sched tr:nth-child(2){
    background-color: var(--table-color-1);
}
.table tr:nth-child(even){
    background-color: var(--table-color-2);
}


/**** About Us Page    ********/
.about-us-img img{
    max-width:100%;
    margin-bottom:20px;
}

.about-us{
    padding:5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about-us-p{
    padding:5px;
    margin-top: 5px;
    line-height: 1.5;
}

.about-us h3{
    margin-bottom:5px;
    text-align:center;
    font-weight: lighter;

}
.about-us h4{
    font-family: gabriola;
    text-align:center;
    border-bottom: solid 1px var(--section-color-2);
    font-size: 20px;
    margin:5px;
    font-weight: lighter;
}
#officer-titles{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}
#officer-titles h2{
    margin: 25px 0 5px 0;
}
#officer-titles hr {
    border: solid 1px var(--section-color-1);
    width: 60%;
    margin:auto;
}


/***************************  Footer  **************************/
.footer-styles{
    width:var(--width);
    margin-left: 10%;
    font-size:16px;    
    margin-top:auto;
    margin-bottom:auto;
}
.footer-styles h2{
    margin:0;

}
.footer-links{
    text-align: right;
    margin-right:10%;
    margin-top:1%;
    margin-bottom: 1%;
    padding-right:10px;
}
.columns-noflex{
    display: flex;
}

/************************************  Navigation  ***********************************/
#main-nav{
    text-align:right;
}
#main-nav ul{
    padding-left:0;
    margin-top:3%;

}
#main-nav li{
    list-style-type: none; /*remove the bullets*/   
    text-align:center;      
    background-color:var(--main-nav-color);
    border-bottom: 1px solid var(--text-color);  
}

#main-nav a{
    color:var(--text-color); /*change color of links */
    text-decoration: none; /*remove the underline */
}
#main-nav a:hover {

    color: var(--hover-color);
}

/***********************************    Larger resolutions   **************************************/
@media only screen and (min-width: 800px){
    .columns{
        display:flex;
    }
    .one, #main-nav li{
        flex:1;
    }
    #main-nav li{
        border-bottom: 1px solid transparent;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }

    .five{
        flex:5;
    }
}
