:root{
    --header-footer-color:#6b6b6b;
    --background-color:#CCCCCC;
    --main-nav-color:#6b6b6b;
    --section-color-1:#959595;
    --section-color-2:#666666;
    --main-font:Arial, Helvetica, sans-serif;
    --width:80%;
    --text-color:black;
    --hover-color:#CCCCCC;
}

body{
    font-family: var(--main-font);
    margin:0;
    background-color: var(--background-color);
}

/*************************************** Header ************************/
.header, .footer{
    background-color: var(--header-footer-color);
}

.header img{
    max-width: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right:2%;


}
.header-title h1{

    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}


/**************************** Main ***********************/
.slideshow{
    width:100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.slideshow img{
    display: block;
    text-align:center;
   object-fit: cover;
   max-width: 100%
}
#main-section {
    width:var(--width);
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.index-main{
    padding:5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--section-color-1);
    border-radius:5px;
}

.index-main-img{
    padding:5px;
    text-align:center;
    margin-top:20px;
}
.index-main h3{
    margin: 5px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px var(--section-color-2);
    font-size: 20px;
}

/***************************  Footer  **************************/
.footer-styles{
    width:var(--width);
    margin-left: 10%;
    font-size:16px;    
    margin-top:auto;
    margin-bottom:auto;
}
.footer-styles h2{
    margin:0;

}
.footer-links{
    text-align: right;
    margin-right:10%;
    margin-top:1%;
    margin-bottom: 1%;
    padding-right:10px;
}
.columns-noflex{
    display: flex;
}

/************************************  Navigation  ***********************************/
#main-nav{
    text-align:right;
}
#main-nav ul{
    padding-left:0;

}
#main-nav li{
    list-style-type: none; /*remove the bullets*/   
    text-align:center;      
    background-color:var(--main-nav-color);
    border-bottom: 1px solid var(--text-color);  
}

#main-nav a{
    color:var(--text-color); /*change color of links */
    text-decoration: none; /*remove the underline */
}
#main-nav a:hover {

    color: var(--hover-color);
}

/***********************************    Larger resolutions   **************************************/
@media only screen and (min-width: 800px){
    .columns{
        display:flex;
    }
    .one, #main-nav li{
        flex:1;
    }
    #main-nav li{
        border-bottom: 1px solid transparent;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }

    .five{
        flex:5;
    }
}
