/*structure */

:root{
    --peach-color: #d98282;
    --teal-color: #5d878c;
    --beige-color: #f1f2e9;
    --light-peach: #dfb3b3;
    --heart-color:white;
}
body{
    background-color: var(--beige-color);
    font-family: Arial, Helvetica, sans-serif;
}
#main-section{
    margin: 15px;
}

#header h1{
    color: #5d878c;
    text-align:center;
}
#header h2{
  color: var(--peach-color); 
  text-align:center;   
}
#footer{
    color:var(--teal-color);
    text-align: center;
}

.section{

    border-radius: 3px;
    padding:5px;
    display: block;
    text-align:center;
    margin:auto;
}
.section h2{
    text-align:center;
}
#travel-section{
    background-color: var(--teal-color);
    color: var(--beige-color);
}
#picture-chooser{
    background-color: var(--light-peach);
    color:var(--teal-color);
    border: 1px solid var(--peach-color);
}

.hidden, .hide-small{
    display:none;
}

.travel-div{
    min-height: 200px;
}

/*    Color chooser    Code for heart shape from https://verpex.com/blog/website-tips/css-shapes-the-heart*/
#heart {
    width: 200px;
    aspect-ratio: 1;
    background:
     radial-gradient(at 70% 31%,var(--heart-color) 29%,#0000 30%),
     radial-gradient(at 30% 31%,var(--heart-color) 29%,#0000 30%),
     linear-gradient(var(--heart-color) 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-43% 0,50% 91%, 143% 0);
    margin: 15px;
  }

#color-buttons{
    text-align:left;
}

/*Navigation              ************************************/
#triangle-up{
    width:0;
    height:0;
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    border-bottom: solid 16px var(--teal-color);
    margin-bottom: 10px;
    margin-left: 5px;
}
#triangle-down{
    width:0;
    height:0;
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    border-top: solid 16px var(--teal-color);
    margin-bottom: 10px;
    margin-left: 5px;
}

#main-nav{
    width: 200px;
    margin:auto;
}
#main-nav ul {
    padding-left:0;
    text-align:center;
}

#main-nav li {
    list-style-type: none;  /* remove the bullets */
    text-align: center;
    border-bottom:1px solid transparent;
    padding: 0 8px;
}


#main-nav a {
    color:var(--teal-color);
    text-decoration: none;  /* remove the underlines */
    border-bottom:1px solid transparent;
}

#main-nav a:hover {
    border-bottom:1px solid var(--peach-color);
    color:var(--peach-color);
    cursor: pointer;
}



@media only screen and (min-width: 600px){
    #triangle-up, #triangle-down{
        display: none;
    }
    .columns{
        display: flex;
    }
    .one{
        flex:1; 
    }
 
    #main-nav div:not(:last-child){
        border-right: 1px solid var(--teal-color);
    }
    #width{
        width: 400px;
        margin: auto;
    }
}