:root{
    --peach-color: #d98282;
    --teal-color: #446164;
    --beige-color: #f1f2e9;
    --light-peach: #e8d5d5;
}
body{
    background-color: var(--beige-color);
    font-family: Arial, Helvetica, sans-serif;
}
#main-section{
    width: 75%;
    margin: auto;
}

#header h1{
    color: #5d878c;
    text-align:center;
}
#header h2{
  color: var(--peach-color); 
  text-align:center;   
}
#footer{
    color:var(--teal-color);
    text-align: center;
}

.section{

    border-radius: 3px;
    padding:5px;
    display: block;
    text-align:center;
    margin:auto;
    position: relative;
}
#pizza-list, .modal-section{
    display: flex;
    background: var(--light-peach);
}
#pizza-list section{
    flex-wrap:wrap;
    color: var(--teal-color);
    width: 18%;
    margin: 10px;

}

.pizza-menu img{
    max-width: 80%;

}

.list-section{
    display: flex;
    flex: 3;
}
.list-section li, .list-section h3{
    color: var(--teal-color);
    list-style: none;
    text-align: left;
    padding: 5px;
}

.img-section{
    display: flex;
    flex: 1;
}
#pizza-modal{
    background-color: var(--light-peach);
    margin: 10px auto;
    width: 70%;
}
.img-section img{

    width: 70%;
    margin:auto;
    display: block;
    animation-name: pizza-img;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.source-img{
    color: var(--teal-color);
}
.source-img a{
    text-decoration: none;
    color: var(--teal-color);
}

@keyframes pizza-img {
    0%{
        width: 70%;
    }
    50%{
        width: 90%;
    }
    100%{
        width: 70%;
    }
}



.section h2{
    text-align:center;
}

.hidden{
    display:none;
}
