
/* Styling */
#main-header{
    background-color:#486b00;
    width: 75%;
    margin: auto;
    padding: 6px;    
    border-radius: 5px;
    color:bisque;
    text-align:center;

}
#main-content, #main-footer{
    background-color: #486b00;
    padding: 5px;
    border-radius: 5px;
    color:bisque;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}
#main-footer, #main-content h2{
    text-align:center;
}

.assignments{
    background-color:bisque;
    padding:5px;
    margin:5px;
    border-radius:5px;
    color: #486b00;
    display:block;
}
.assignment-image{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
/* Typography */
body{
    background: url(images/background-nature.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
#nav a {
    text-decoration: none; 
}
.assignments:hover{
    color:#3b2114;
    background-color: rgb(220, 172, 112);
}

/*Larger resolution*/
@media(min-width: 1200px) {
    .flex-container, #nav{
        display: flex;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .assignments, #nav{
        flex:1;
    }

}